body{
    margin: 0;
    height: 0;
}
header{
  position: absolute;
  top: 3.5em;
  left:4.5em;
  z-index: 2;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
}
.btn-left:hover {
  width: 65%;
}

/* Partie de gauche */
#part_1 {
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
}

#moi {
  width: 60%;
  margin: 20rem 0 0 2.5rem;
}
#logo {
  width: 50%;
  margin: 1rem 0 0 5rem;
  z-index: 3;
}
.s1_1{
  padding: 0 0 0 12rem;
}

.s1_1 a{
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-family: sans-serif;
    text-decoration: none;
    transition: 0.5s ;
    -webkit-transition: 0.5s ;
    -moz-transition: 0.5s ;
    -ms-transition: 0.5s ;
    -o-transition: 0.5s ;
}



/* Partie de droite */
.s1_2 div {
  width: 80%;
  text-align: justify;
}

h1{
  font-size: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: 18rem 0 2rem 0 ;
}

h3{
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  line-height: 1.7;
}

h4 {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  margin: 2rem 0 0 0 ;
  line-height: 1.7;
}

#s22{
  margin:6rem 0 0 0 ; 
}

i {
  font-size: 40px;
  margin-left: 40px;
}

/* Button on hover adresse mail */
span.title {
  margin: 0 auto;
  color: #BBB;
  font-family: 'Raleway', sans-serif;
  font-size: 0.85rem;
  text-align: center;
  display: block;
}

.basicBox{
  width: 130px;
  height: 65px;
  color: #101010;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin: 20px 0px 0px 41px;
}

svg {
  position: absolute;
  top: 0px;
  left: -15px;
}
svg rect, svg path, svg polyline {
  fill: none;
  stroke: #101010;
  stroke-width: 2;
}

.basicBox:hover svg rect, .swiggleBox:hover svg path, .checkBox:hover svg polyline {
  stroke: #101010;
}

/* Basic Box */
svg rect {
  stroke-dasharray: 500, 0;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
.basicBox:hover svg rect {
  stroke-width: 3;
  stroke-dasharray: 35, 245;
  stroke-dashoffset: 38;
  -webkit-transition: all 0.8s ease-in-out;
  -moz-transition: all 0.8s ease-in-out;
  -ms-transition: all 0.8s ease-in-out;
  -o-transition: all 0.8s ease-in-out;
}
/* IPAD */
@media only screen and (max-device-width : 770px) {
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
}
header {
  position: absolute;
  top: 5.5em;
  left: 5.3em;
  z-index: 2;
}
.btn-left {
  text-align: center;
  transition: all ease .5s;
  height: auto;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
}

.s1_1 {
  padding:0;
}
#moi {
  width: 21%;
  margin: 6.1rem 0 0 36.5rem;
}

#logo {
  width: 20%;
  margin: 0 0 0 37rem;
  z-index: 3;
  position: absolute;
  bottom: 18.2rem;
  right: 37.3rem;
}
.basicBox {
  width: 116px;
  height: 65px;
  color: #101010;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin: 0 0 0 36rem;
}
.s1_2{
  margin: 0rem 0 19rem 5rem;
}
  h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0rem 0 0 4rem;
}
h3{
  margin: 4rem 0 2rem 4rem;
}
h4{
  margin: 0rem 0 0 4rem;
}
#s22 {
  margin: 6rem 0 0 0;
}
}
/* Mobile */
@media only screen and (max-device-width : 470px) {
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 200vh;
}
header {
  position: absolute;
  top: 2em;
  left: 3em;
  z-index: 2;
}

.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  height: auto;
  width: 70%;
  border-radius: 3px;
  cursor: pointer;
}
#moi {
  width: 34%;
  margin: 18rem 0 0 4.5rem;
}
#logo{
  width: 30%;
  margin: -4.5rem 0 0 17.5rem;
  z-index: 3;
  position: absolute;
  left: 5rem;
  top: 127.8rem;
}
.basicBox {
  width: 116px;
  height: 65px;
  color: #101010;
  font-family: 'Raleway', sans-serif;
  font-size: 1.1rem;
  line-height: 65px;
  text-transform: uppercase;
  text-align: center;
  position: relative;
  cursor: pointer;
  margin: 17px 0px 22px 61px;
}
.s1_2 {
margin:0rem 0em 5rem 5rem;
}
  h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    margin: 0;
}
h3{
  margin: 4rem 0 0 0 ;
}
h4{
margin: 2rem 0 0 0 ;
}
#s22{
margin-top: 3rem;
    position: absolute;
    left: 3rem;
}
}