body{
    margin: 0;
    height: 0;
}

#part_1 {
    display: grid;
    grid-template-columns: 35% 65%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 0;
    z-index: 2;
}

header{
  position: absolute;
  top: 3.5em;
  left:4.5em;
  z-index: 3;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  position: relative;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
}
.btn-left:hover {
  width: 65%;
}

  /* left side */
.s1_1{
  align-self: end;
  text-align: justify;
  margin: 0 0 15rem 12rem;
}

.s1_1 h1 {
  font-family: 'Raleway', sans-serif;
}
.s1_1 h3{
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
}

.s1_1 h2 {
  margin-top: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
}

/* right side */
.s1_2{
margin: 4rem 0  0  15rem;
}
.s2_vid video{
  width: 27em;
}

/* Image overlay */
/* Conteneur principal */
.overlay-image {
  position: relative;
  width: 59.2%;
  margin: 2rem 0 0 0 ; 
 }

 /* Image originale */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
 }

 /* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
 }
 
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 /* IPAD */
 @media only screen and (max-device-width : 770px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
  }
  
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 70%;
    border-radius: 3px;
    cursor: pointer;
  }
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 120vh;
    position: relative;
    margin-top: 0;
}
.s1_1{
  text-align: justify;
  margin: 22rem 10rem 0rem 10rem;
}
.s1_1 h2 {
  margin-top: 25px;}
  
.s1_2{
  margin: 4rem 0 0 15rem;
  }
.overlay-image {
    position: relative;
    width: 72.5%;
    margin: 2rem 0 0 0;
}

.s2_vid video {
  width: 30em;
}

}

/* MOBILE */
 @media only screen and (max-device-width : 400px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
  }
  
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 80%;
    border-radius: 3px;
    cursor: pointer;
  }

  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 160vh;
    position: relative;
    margin-top: 0;
    z-index: 2;
}

.s1_1{
  text-align: justify;
  margin: 22rem 3rem 0rem 3rem;
}

.s1_1 h2 {
  margin-top: 25px;}

.s1_2{
  margin: 4rem 0 0 6rem;
  }

.overlay-image {
    position: relative;
    width: 85%;
    margin: 2rem 0 2rem 0;
}

.s2_vid video {
  width: 18em;
}
}

