body{
    margin: 0;
    height: 0;
}

#part_1 {
    display: grid;
    grid-template-columns: 35% 32.5% 32.5%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 0;
    z-index: 2;
}

header{
  position: absolute;
  top: 3.5em;
  left:4.5em;
  z-index: 3;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  position: relative;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
}
.btn-left:hover {
  width: 65%;
}
  /* left side */
.s1_1{
    position: relative;
    text-align: justify;
    align-self: end;
    margin: 0 0 11.5rem 10rem;
  }
.s1_1 h1{
  margin: 0 0 3rem 0 ; 
  font-family: 'Raleway', sans-serif;
}

.s1_1 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
  }
  
.s1_1 h2 {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
  }
  

/* right side */
/* Conteneur principal */
.overlay-image {
  position: relative;
  width: 100%;
 }
 /* Image originale */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
 }
 /* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0.3em;
  left: 0.45em;
  height: 96%;
  width: 86%;
  opacity: 0;
  transition: .5s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #D8CED7;
  font-weight: 300;
  background-color:rgba(16, 16, 16, 0.90)
 }
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 .text{
  padding: 20px;
 }

.s1_2{
margin: 18rem 0 0 6em;
 }
.s1_2 img{
  width: 89%;
}
.s1_3{
  margin: 18rem 0 0 0em;
}
.s1_3 img{
width: 70%;
}