body{
    margin: 0;
    height: 0;
}

#part_1 {
    display: grid;
    grid-template-columns: 35% 32.5% 32.5%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 0;
    z-index: 2;
}

header{
  position: absolute;
  top: 3.5em;
  left:4.5em;
  z-index: 3;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  position: relative;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
}
.btn-left:hover {
  width: 65%;
}
  /* left side */
.s1_1{
    position: relative;
    text-align: justify;
    align-self: end;
    margin: 0rem 0 10.5rem 12rem;
  }
.s1_1 h1{
  margin: 0 0 3rem 0 ; 
  font-family: 'Raleway', sans-serif;
}

.s1_1 h3{
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    font-weight: 300;
    line-height: 2;
  }
  
.s1_1 h2 {
    margin-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.7;
  }
  

/* right side */
/* Conteneur principal */
.overlay-image {
  position: relative;
  width: 100%;
 }
 /* Image originale */
.overlay-image .image {
  display: block;
  width: 100%;
  height: auto;
 }
 /* Overlay */
.overlay-image .hover {
  position: absolute;
  top: 0.3em;
  left: 0.45em;
  height: 96%;
  width: 86%;
  opacity: 0;
  transition: .5s ease;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  color: #D8CED7;
  font-weight: 300;
  background-color:rgba(16, 16, 16, 0.90)
 }
 /* Apparition overlay sur passage souris */
 .overlay-image:hover .hover {
  opacity: 1;
 }
 .text{
  padding: 20px;
 }

.s1_2{
margin: 18rem 0 0 6em;
 }
.s1_2 img{
  width: 89%;
}
.s1_3{
  margin: 18rem 0 0 0em;
}
.s1_3 img{
width: 70%;
}
@media only screen and (max-device-width : 770px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
  }
  
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 70%;
    border-radius: 3px;
    cursor: pointer;
  }
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 160vh;
    position: relative;
    margin-top: 0;
}
.s1_1 {
  position: relative;
  text-align: justify;
  align-self: end;
  margin: 22rem 10rem 0rem 10rem;
}
.s1_2 {
  margin: 5rem 0 0 14em;
}
.overlay-image {
  position: relative;
  width: 70%;
}
.s1_3 {
  margin: 0rem 0 0 22.1rem;
}
.s1_3 img {
  width: 60%;
}
}
@media only screen and (max-device-width : 400px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
  }
  
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 80%;
    border-radius: 3px;
    cursor: pointer;
}
#part_1 {
  display: grid;
  grid-template-columns: 100%;
  background-color: #D8CED7;
  width: 100vw;
  height: 220vh;
  position: relative;
  margin-top: 0;
}
.s1_1{
  margin: 14rem 4rem 0rem 4rem;
}
.s1_2 {
  margin: 2rem 0 0em 4.5em;
}
.s1_3 {
  margin: 0rem 0 0 10.5rem;
}
.overlay-image {
  position: relative;
  width: 90%;
}
}