body{
    margin: 0;
    height: 0;
}

#part_1 {
    display: grid;
    grid-template-columns: 40% 60%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
    z-index: 2;
}
header{
    position: absolute;
    top: 2.5em;
    left:4.5em;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
  -webkit-transition: all ease .5s;
  -moz-transition: all ease .5s;
  -ms-transition: all ease .5s;
  -o-transition: all ease .5s;
}
  .btn-left:hover {
    width: 65%;
  }
  /* left side */
.s1_1{
  align-self: end;
  margin: 0 0 15rem 12rem;
}

.s1_1 h1{
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
  margin: 0 0 3rem 0;
}

.s1_1 h3{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
}

.s1_1 h2 {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
}
@media only screen and (max-device-width : 770px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
    z-index: 300;
  }
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 70%;
    border-radius: 3px;
    cursor: pointer;
  }
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 160vh;
    position: relative;
    margin-top: 0;
}
.s1_1 {
  margin: 0 10rem 85rem 10rem;
}
}
@media only screen and (max-device-width : 400px) {
  header {
    position: absolute;
    top: 5em;
    left: 3em;
  }
  
  .btn-left {
    margin: 0 auto;
    text-align: center;
    transition: all ease .5s;
    letter-spacing: 3px;
    height: auto;
    width: 80%;
    border-radius: 3px;
    cursor: pointer;
}
  #part_1 {
    display: grid;
    grid-template-columns: 100%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    margin-top: 0;
}
.s1_1 {
  margin: 20rem 4rem 0rem 4rem;
}
.s1_1 h2 {
  margin: 20px 0 20px 0;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;
}
}