body{
    margin: 0;
    height: 0;
}

#part_1 {
    display: grid;
    grid-template-columns: 41% 59%;
    background-color: #D8CED7;
    width: 100vw;
    height: 100vh;
    position: relative;
    margin-top: 0;
    z-index: 2;
}
header{
    position: absolute;
    top: 2.5em;
    left:4.5em;
    z-index: 300;
}
.btn-left {
  margin: 0 auto;
  text-align: center;
  transition: all ease .5s;
  letter-spacing: 3px;
  position: relative;
  height: auto;
  width: 55%;
  border-radius: 3px;
  cursor: pointer;
}
  .btn-left:hover {
    width: 70%;
    padding: 10px 10px 0px 0px;
  }

  /* TITLE */

#title {
  position: absolute;
  top: 5.5em;
  left: 4.6em;
  z-index: 300;
  font-family: 'Raleway', sans-serif;
  font-size: 40px;
}

  /* left side */
  .s1_1{
position: relative;
  }

#s1{
    position: absolute;
    top: 20em;
    left: 12.3em;
  }
  
#s1 h3{
  font-family: 'Roboto', sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 2;
}

#s1 h2 {
  margin-top: 40px;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 1.7;

}

/* right side */
  .s1_2{
position: relative;
  }
#s2{
  position: absolute;

}